[submodule "lvms/operator"]
	path = lvms/operator
	url = https://github.com/openshift/lvm-operator.git
	branch = release-4.20
[submodule "local-storage/operator"]
	path = local-storage/operator
	url = https://github.com/openshift/local-storage-operator.git
	branch = release-4.19
[submodule "sr-iov/infiniband-cni"]
	path = sr-iov/infiniband-cni
	url = https://github.com/openshift/ib-sriov-cni.git
	branch = release-4.20
[submodule "sr-iov/rdma-cni"]
	path = sr-iov/rdma-cni
	url = https://github.com/openshift/rdma-cni.git
	branch = release-4.20
[submodule "sr-iov/admission-controller"]
	path = sr-iov/admission-controller
	url = https://github.com/openshift/sriov-dp-admission-controller.git
	branch = release-4.20
[submodule "sr-iov/device-plugin"]
	path = sr-iov/device-plugin
	url = https://github.com/openshift/sriov-network-device-plugin.git
	branch = release-4.20
[submodule "sr-iov/metrics-exporter"]
	path = sr-iov/metrics-exporter
	url = https://github.com/openshift/sriov-network-metrics-exporter.git
	branch = release-4.20
[submodule "sr-iov/operator"]
	path = sr-iov/operator
	url = https://github.com/openshift/sriov-network-operator.git
	branch = release-4.20
[submodule "sr-iov/cni"]
	path = sr-iov/cni
	url = https://github.com/openshift/sriov-cni.git
	branch = release-4.20
[submodule "cluster-logging/operator"]
	path = cluster-logging/operator
	url = https://github.com/openshift/cluster-logging-operator.git
	branch = release-6.2
[submodule "cluster-logging/opa-openshift"]
	path = cluster-logging/opa-openshift
	url = https://github.com/observatorium/opa-openshift.git
	branch = main
[submodule "cluster-logging/loki"]
	path = cluster-logging/loki
	url = https://github.com/openshift/loki.git
	branch = release-6.2
[submodule "cluster-logging/log-file-metric-exporter"]
	path = cluster-logging/log-file-metric-exporter
	url = https://github.com/ViaQ/log-file-metric-exporter.git
	branch = main
[submodule "cluster-logging/observatorium-api"]
	path = cluster-logging/observatorium-api
	url = https://github.com/observatorium/api.git
	branch = main
[submodule "cluster-logging/vector"]
	path = cluster-logging/vector
	url = https://github.com/ViaQ/vector.git
	branch = v0.37.1-rh
[submodule "ingress-node-firewall/operator"]
	path = ingress-node-firewall/operator
	url = https://github.com/openshift/ingress-node-firewall.git
	branch = release-4.19
[submodule "cluster-logging/eventrouter"]
	path = cluster-logging/eventrouter
	url = https://github.com/openshift/eventrouter
[submodule "metallb/operator"]
	path = metallb/operator
	url = https://github.com/openshift/metallb-operator.git
	branch = release-4.19
[submodule "metallb/metallb"]
	path = metallb/metallb
	url = https://github.com/openshift/metallb.git
	branch = release-4.19
[submodule "metallb/frr"]
	path = metallb/frr
	url = https://github.com/openshift/frr.git
	branch = release-4.19
[submodule "cert-manager/operator"]
	path = cert-manager/operator
	url = https://github.com/openshift/cert-manager-operator.git
	branch = cert-manager-1.18
[submodule "cert-manager/cert-manager"]
	path = cert-manager/cert-manager
	url = https://github.com/openshift/jetstack-cert-manager.git
	branch = release-1.18
[submodule "cert-manager/istio-csr"]
	path = cert-manager/istio-csr
	url = https://github.com/openshift/cert-manager-istio-csr.git
	branch = main
[submodule "gitops/operator"]
	path = gitops/operator
	url = https://github.com/redhat-developer/gitops-operator
	branch = v1.16
[submodule "gitops/argo-cd"]
	path = gitops/argo-cd
	url = https://github.com/rh-gitops-midstream/downstream-argo-cd
	branch = main
[submodule "gitops/dex"]
	path = gitops/dex
	url = https://github.com/rh-gitops-midstream/downstream-dex
[submodule "gitops/console-plugin"]
	path = gitops/console-plugin
	url = https://github.com/redhat-developer/gitops-console-plugin
	branch = v1.15
[submodule "gitops/argo-rollouts"]
	path = gitops/argo-rollouts
	url = https://github.com/rh-gitops-midstream/argo-rollouts
[submodule "gitops/argocd-extension-installer"]
	path = gitops/argocd-extension-installer
	url = https://github.com/argoproj-labs/argocd-extension-installer
[submodule "gitops/rollout-extension"]
	path = gitops/rollout-extension
	url = https://github.com/argoproj-labs/rollout-extension
[submodule "gitops/backend"]
	path = gitops/backend
	url = https://github.com/redhat-developer/gitops-backend
[submodule "gitops/must-gather"]
	path = gitops/must-gather
	url = https://github.com/redhat-developer/gitops-must-gather
[submodule "node-feature-discovery/nfd"]
	path = node-feature-discovery/nfd
	url = https://github.com/openshift/node-feature-discovery.git
	branch = release-4.20
[submodule "node-feature-discovery/operator"]
	path = node-feature-discovery/operator
	url = https://github.com/openshift/cluster-nfd-operator.git
	branch = release-4.20
[submodule "cluster-observability/operator"]
	path = cluster-observability/operator
	url = https://github.com/rhobs/observability-operator
	branch = release-1.2
[submodule "cluster-observability/manifests"]
	path = cluster-observability/manifests
	url = https://github.com/rhobs/konflux-coo
	branch = release-1.2
[submodule "service-mesh/kiali-operator"]
	path = service-mesh/kiali-operator
	url = https://github.com/kiali/kiali-operator
	branch = v2.4
[submodule "service-mesh/kiali-console-plugin"]
	path = service-mesh/kiali-console-plugin
	url = https://github.com/kiali/openshift-servicemesh-plugin
	branch = v2.4
[submodule "service-mesh/istio"]
	path = service-mesh/istio
	url = https://github.com/openshift-service-mesh/istio.git
	branch = release-1.24
[submodule "service-mesh/proxy"]
	path = service-mesh/proxy
	url = https://github.com/openshift-service-mesh/proxy.git
	branch = release-1.24
[submodule "service-mesh/istio-must-gather"]
	path = service-mesh/istio-must-gather
	url = https://github.com/openshift-service-mesh/istio-must-gather.git
[submodule "service-mesh/ztunnel"]
	path = service-mesh/ztunnel
	url = https://github.com/openshift-service-mesh/ztunnel.git
	branch = release-1.24
[submodule "service-mesh/operator"]
	path = service-mesh/operator
	url = https://github.com/openshift-service-mesh/sail-operator
	branch = release-3.0
[submodule "service-mesh/kiali"]
	path = service-mesh/kiali
	url = https://github.com/kiali/kiali.git
	branch = v2.4
[submodule "acm/lighthouse"]
	path = acm/lighthouse
	url = https://github.com/submariner-io/lighthouse.git
	branch = release-0.21-
[submodule "acm/submariner"]
	path = acm/submariner
	url = https://github.com/submariner-io/submariner.git
	branch = release-0.21
[submodule "acm/subctl"]
	path = acm/subctl
	url = https://github.com/submariner-io/subctl.git
	branch = release-0.21
[submodule "acm/submariner-operator"]
	path = acm/submariner-operator
	url = https://github.com/submariner-io/submariner-operator.git
	branch = release-0.21
[submodule "acm/siteconfig"]
	path = acm/siteconfig
	url = https://github.com/stolostron/siteconfig.git
	branch = release-2.15
[submodule "acm/shipyard"]
	path = acm/shipyard
	url = https://github.com/submariner-io/shipyard.git
	branch = release-0.21
[submodule "acm/flightctl"]
	path = acm/flightctl
	url = git@github.com:flightctl/flightctl.git
	branch = release-0.8
[submodule "acm/search-indexer"]
	path = acm/search-indexer
	url = https://github.com/stolostron/search-indexer.git
	branch = release-2.15
[submodule "acm/insights-metrics"]
	path = acm/insights-metrics
	url = git@github.com:stolostron/insights-metrics.git
	branch = release-2.15
[submodule "acm/multicluster-observability-operator"]
	path = acm/multicluster-observability-operator
	url = https://github.com/stolostron/multicluster-observability-operator.git
	branch = release-2.15
[submodule "acm/node-exporter"]
	path = acm/node-exporter
	url = https://github.com/stolostron/node-exporter.git
	branch = release-2.15
[submodule "acm/observatorium-operator"]
	path = acm/observatorium-operator
	url = https://github.com/stolostron/observatorium-operator.git
	branch = release-2.15
[submodule "acm/observatorium"]
	path = acm/observatorium
	url = https://github.com/stolostron/observatorium.git
	branch = release-2.15
[submodule "acm/memcached_exporter"]
	path = acm/memcached_exporter
	url = git@github.com:stolostron/memcached_exporter.git
	branch = release-2.15
[submodule "acm/multicluster-observability-addon"]
	path = acm/multicluster-observability-addon
	url = git@github.com:stolostron/multicluster-observability-addon.git
	branch = release-2.15
[submodule "acm/kube-state-metrics"]
	path = acm/kube-state-metrics
	url = git@github.com:stolostron/kube-state-metrics.git
	branch = release-2.15
[submodule "acm/governance-policy-framework-addon"]
	path = acm/governance-policy-framework-addon
	url = git@github.com:stolostron/governance-policy-framework-addon.git
	branch = release-2.15
[submodule "acm/grafana"]
	path = acm/grafana
	url = git@github.com:stolostron/grafana.git
	branch = release-2.15
[submodule "acm/acm-cli"]
	path = acm/acm-cli
	url = https://github.com/stolostron/acm-cli.git
	branch = release-2.14
[submodule "acm/multicloud-integrations"]
	path = acm/multicloud-integrations
	url = git@github.com:stolostron/multicloud-integrations.git
	branch = release-2.15
[submodule "acm/search-collector"]
	path = acm/search-collector
	url = git@github.com:stolostron/search-collector.git
	branch = release-2.15
[submodule "acm/console"]
	path = acm/console
	url = git@github.com:stolostron/console.git
	branch = release-2.15
[submodule "acm/multiclusterhub-operator"]
	path = acm/multiclusterhub-operator
	url = git@github.com:stolostron/multiclusterhub-operator.git
	branch = release-2.15
[submodule "acm/insights-client"]
	path = acm/insights-client
	url = git@github.com:stolostron/insights-client.git
	branch = release-2.15
[submodule "acm/search-v2-api"]
	path = acm/search-v2-api
	url = https://github.com/stolostron/search-v2-api.git
	branch = release-2.15
[submodule "acm/volsync-addon-controller"]
	path = acm/volsync-addon-controller
	url = https://github.com/stolostron/volsync-addon-controller.git
	branch = release-2.15
[submodule "acm/cluster-backup-operator"]
	path = acm/cluster-backup-operator
	url = git@github.com:stolostron/cluster-backup-operator.git
	branch = release-2.15
[submodule "acm/config-policy-controller"]
	path = acm/config-policy-controller
	url = git@github.com:stolostron/config-policy-controller.git
	branch = release-2.15
[submodule "acm/klusterlet-addon-controller"]
	path = acm/klusterlet-addon-controller
	url = git@github.com:stolostron/klusterlet-addon-controller.git
	branch = release-2.15
[submodule "acm/cluster-permission"]
	path = acm/cluster-permission
	url = git@github.com:stolostron/cluster-permission.git
	branch = release-2.15
[submodule "acm/multicloud-operators-application"]
	path = acm/multicloud-operators-application
	url = git@github.com:stolostron/multicloud-operators-application.git
	branch = release-2.15
[submodule "acm/flightctl-ui"]
	path = acm/flightctl-ui
	url = https://github.com/flightctl/flightctl-ui.git
	branch = release-0.8
[submodule "acm/search-v2-operator"]
	path = acm/search-v2-operator
	url = git@github.com:stolostron/search-v2-operator.git
	branch = release-2.15
[submodule "acm/volsync"]
	path = acm/volsync
	url = https://github.com/stolostron/volsync-operator-product-build.git
	branch = release-0.13
[submodule "multicluster-engine/managed-serviceaccount"]
	path = multicluster-engine/managed-serviceaccount
	url = https://github.com/stolostron/managed-serviceaccount
	branch = backplane-2.10
[submodule "multicluster-engine/ocm"]
	path = multicluster-engine/ocm
	url = https://github.com/stolostron/ocm.git
	branch = backplane-2.10
[submodule "multicluster-engine/cluster-proxy"]
	path = multicluster-engine/cluster-proxy
	url = https://github.com/stolostron/cluster-proxy
	branch = backplane-2.10
[submodule "multicluster-engine/backplane-operator"]
	path = multicluster-engine/backplane-operator
	url = https://github.com/stolostron/backplane-operator
	branch = backplane-2.10
[submodule "multicluster-engine/provider-credential-controller"]
	path = multicluster-engine/provider-credential-controller
	url = https://github.com/stolostron/provider-credential-controller.git
	branch = backplane-2.10
[submodule "acm/assisted-installer-agent"]
	path = multicluster-engine/assisted-installer-agent
	url = https://github.com/openshift/assisted-installer-agent
	branch = release-ocm-2.15
[submodule "acm/assisted-installer"]
	path = multicluster-engine/assisted-installer
	url = https://github.com/openshift/assisted-installer
	branch = release-ocm-2.15
[submodule "acm/assisted-image-service"]
	path = multicluster-engine/assisted-image-service
	url = https://github.com/openshift/assisted-image-service.git
	branch = release-ocm-2.15
[submodule "multicluster-engine/console"]
	path = multicluster-engine/console
	url = https://github.com/stolostron/console.git
	branch = backplane-2.10
[submodule "multicluster-engine/clusterclaims-controller"]
	path = multicluster-engine/clusterclaims-controller
	url = https://github.com/stolostron/clusterclaims-controller
	branch = backplane-2.10
[submodule "acm/hypershift"]
	path = multicluster-engine/hypershift
	url = https://github.com/openshift/hypershift.git
	branch = release-4.21
[submodule "multicluster-engine/discovery"]
	path = multicluster-engine/discovery
	url = https://github.com/stolostron/discovery.git
	branch = backplane-2.10
[submodule "multicluster-engine/hive"]
	path = multicluster-engine/hive
	url = https://github.com/openshift/hive.git
	branch = master
[submodule "multicluster-engine/backplane-must-gather"]
	path = multicluster-engine/backplane-must-gather
	url = https://github.com/stolostron/backplane-must-gather.git
	branch = backplane-2.10
[submodule "multicluster-engine/multicloud-operators-foundation"]
	path = multicluster-engine/multicloud-operators-foundation
	url = https://github.com/stolostron/multicloud-operators-foundation.git
	branch = backplane-2.10
[submodule "multicluster-engine/cluster-proxy-addon"]
	path = multicluster-engine/cluster-proxy-addon
	url = https://github.com/stolostron/cluster-proxy-addon.git
	branch = backplane-2.10
[submodule "acm/assisted-service"]
	path = multicluster-engine/assisted-service
	url = https://github.com/openshift/assisted-service.git
	branch = release-ocm-2.15
[submodule "multicluster-engine/cluster-curator-controller"]
	path = multicluster-engine/cluster-curator-controller
	url = https://github.com/stolostron/cluster-curator-controller.git
	branch = backplane-2.10
[submodule "multicluster-engine/cluster-image-set-controller"]
	path = multicluster-engine/cluster-image-set-controller
	url = https://github.com/stolostron/cluster-image-set-controller.git
	branch = backplane-2.10
[submodule "multicluster-engine/managedcluster-import-controller"]
	path = multicluster-engine/managedcluster-import-controller
	url = https://github.com/stolostron/managedcluster-import-controller.git
	branch = backplane-2.10
[submodule "multicluster-engine/image-based-install-operator"]
	path = multicluster-engine/image-based-install-operator
	url = https://github.com/openshift/image-based-install-operator.git
	branch = backplane-2.10
[submodule "multicluster-engine/clusterlifecycle-state-metrics"]
	path = multicluster-engine/clusterlifecycle-state-metrics
	url = https://github.com/stolostron/clusterlifecycle-state-metrics.git
	branch = backplane-2.10
[submodule "multicluster-engine/hypershift-addon-operator"]
	path = multicluster-engine/hypershift-addon-operator
	url = https://github.com/stolostron/hypershift-addon-operator.git
	branch = backplane-2.10
[submodule "acm/governance-policy-addon-controller"]
	path = acm/governance-policy-addon-controller
	url = git@github.com:stolostron/governance-policy-addon-controller.git
	branch = release-2.15
[submodule "acm/cert-policy-controller"]
	path = acm/cert-policy-controller
	url = git@github.com:stolostron/cert-policy-controller.git
	branch = release-2.15
[submodule "acm/governance-policy-propagator"]
	path = acm/governance-policy-propagator
	url = git@github.com:stolostron/governance-policy-propagator.git
	branch = release-2.15
[submodule "acm/multicloud-operators-channel"]
	path = acm/multicloud-operators-channel
	url = https://github.com/stolostron/multicloud-operators-channel.git
	branch = release-2.15
[submodule "acm/multicloud-operators-subscription"]
	path = acm/multicloud-operators-subscription
	url = git@github.com:stolostron/multicloud-operators-subscription.git
	branch = release-2.15
[submodule "acm/submariner-addon"]
	path = acm/submariner-addon
	url = git@github.com:stolostron/submariner-addon.git
	branch = release-2.15
[submodule "acm/thanos-receive-controller"]
	path = acm/thanos-receive-controller
	url = https://github.com/stolostron/thanos-receive-controller.git
	branch = release-2.15
[submodule "acm/prometheus"]
	path = acm/prometheus
	url = git@github.com:stolostron/prometheus.git
	branch = release-2.15
[submodule "acm/prometheus-alertmanager"]
	path = acm/prometheus-alertmanager
	url = git@github.com:stolostron/prometheus-alertmanager.git
	branch = release-2.15
[submodule "acm/thanos"]
	path = acm/thanos
	url = git@github.com:stolostron/thanos.git
	branch = release-2.15
[submodule "acm/must-gather"]
	path = acm/must-gather
	url = git@github.com:stolostron/must-gather.git
	branch = release-2.15
[submodule "acm/prometheus-operator"]
	path = acm/prometheus-operator
	url = git@github.com:stolostron/prometheus-operator.git
	branch = release-2.15
[submodule "multicluster-engine/cluster-api-provider-agent"]
	path = multicluster-engine/cluster-api-provider-agent
	url = https://github.com/openshift/cluster-api-provider-agent
	branch = release-ocm-2.15
[submodule "multicluster-engine/cluster-api-provider-kubevirt"]
	path = multicluster-engine/cluster-api-provider-kubevirt
	url = https://github.com/openshift/cluster-api-provider-kubevirt.git
	branch = release-4.21
[submodule "multicluster-engine/cluster-api-installer"]
	path = multicluster-engine/cluster-api-installer
	url = https://github.com/stolostron/cluster-api-installer.git
	branch = backplane-2.10
[submodule "multicluster-engine/cluster-api-provider-openshift-assisted"]
	path = multicluster-engine/cluster-api-provider-openshift-assisted
	url = https://github.com/openshift-assisted/cluster-api-provider-openshift-assisted.git
	branch = backplane-2.10
[submodule "data-foundation/ceph-csi-operator"]
	path = data-foundation/ceph-csi-operator
	url = https://github.com/red-hat-storage/ceph-csi-operator.git
	branch = release-4.20
[submodule "data-foundation/kubernetes-csi-addons"]
	path = data-foundation/kubernetes-csi-addons
	url = https://github.com/red-hat-storage/kubernetes-csi-addons.git
	branch = release-4.20
[submodule "data-foundation/noobaa-core"]
	path = data-foundation/noobaa-core
	url = https://github.com/red-hat-storage/noobaa-core.git
	branch = release-4.20
[submodule "data-foundation/noobaa-operator"]
	path = data-foundation/noobaa-operator
	url = https://github.com/red-hat-storage/noobaa-operator.git
	branch = release-4.20
[submodule "data-foundation/ocs-client-operator"]
	path = data-foundation/ocs-client-operator
	url = https://github.com/red-hat-storage/ocs-client-operator.git
	branch = release-4.20
[submodule "data-foundation/ocs-operator"]
	path = data-foundation/ocs-operator
	url = https://github.com/red-hat-storage/ocs-operator.git
	branch = release-4.20
[submodule "data-foundation/odf-cli"]
	path = data-foundation/odf-cli
	url = https://github.com/red-hat-storage/odf-cli.git
	branch = release-4.20
[submodule "data-foundation/odf-console"]
	path = data-foundation/odf-console
	url = https://github.com/red-hat-storage/odf-console.git
	branch = release-4.20
[submodule "data-foundation/odf-console-compatibility"]
	path = data-foundation/odf-console-compatibility
	url = https://github.com/red-hat-storage/odf-console.git
	branch = release-4.20
[submodule "data-foundation/odf-multicluster-orchestrator"]
	path = data-foundation/odf-multicluster-orchestrator
	url = https://github.com/red-hat-storage/odf-multicluster-orchestrator.git
	branch = release-4.20
[submodule "data-foundation/odf-operator"]
	path = data-foundation/odf-operator
	url = https://github.com/red-hat-storage/odf-operator.git
	branch = release-4.20
[submodule "data-foundation/ramen"]
	path = data-foundation/ramen
	url = https://github.com/red-hat-storage/ramen.git
	branch = release-4.20
[submodule "data-foundation/recipe"]
	path = data-foundation/recipe
	url = https://github.com/red-hat-storage/recipe.git
	branch = release-4.20
[submodule "data-foundation/rook"]
	path = data-foundation/rook
	url = https://github.com/red-hat-storage/rook.git
	branch = release-4.20
[submodule "data-foundation/must-gather"]
	path = data-foundation/must-gather
	url = https://github.com/red-hat-storage/odf-must-gather.git
	branch = release-4.20
[submodule "data-foundation/cloudnative-pg"]
	path = data-foundation/cloudnative-pg
	url = https://github.com/red-hat-storage/cloudnative-pg.git
	branch = rhodf-4.20
[submodule "data-foundation/container-object-storage-interface-provisioner-sidecar"]
	path = data-foundation/container-object-storage-interface-provisioner-sidecar
	url = https://github.com/kubernetes-retired/container-object-storage-interface-provisioner-sidecar.git
	branch = master
[submodule "external-secrets/operator"]
	path = external-secrets/operator
	url = https://github.com/openshift/external-secrets-operator.git
	branch = release-1.0
[submodule "external-secrets/external-secrets"]
	path = external-secrets/external-secrets
	url = https://github.com/openshift/external-secrets.git
	branch = release-0.19
[submodule "external-secrets/bitwarden-sdk-server"]
	path = external-secrets/bitwarden-sdk-server
	url = https://github.com/openshift/external-secrets-bitwarden-sdk-server.git
	branch = release-0.5.1
[submodule "data-foundation/ceph-csi"]
	path = data-foundation/ceph-csi
	url = https://github.com/red-hat-storage/ceph-csi.git
	branch = release-4.20
[submodule "data-foundation/ceph-container"]
	path = data-foundation/ceph-container
	url = https://github.com/ibmstorage/rhceph-container.git
	branch = release-8.1
[submodule "oadp/velero"]
	path = oadp/velero
	url = https://github.com/openshift/velero.git
	branch = oadp-1.5
[submodule "oadp/operator"]
	path = oadp/operator
	url = https://github.com/openshift/oadp-operator.git
	branch = oadp-1.5
[submodule "oadp/non-admin"]
	path = oadp/non-admin
	url = https://github.com/migtools/oadp-non-admin.git
	branch = oadp-1.5
[submodule "oadp/microsoft-azure-plugin"]
	path = oadp/microsoft-azure-plugin
	url = https://github.com/openshift/velero-plugin-for-microsoft-azure.git
	branch = oadp-1.5
[submodule "oadp/openshift-plugin"]
	path = oadp/openshift-plugin
	url = https://github.com/openshift/openshift-velero-plugin.git
	branch = oadp-1.5
[submodule "oadp/hypershift-plugin"]
	path = oadp/hypershift-plugin
	url = https://github.com/openshift/hypershift-oadp-plugin.git
	branch = oadp-1.5
[submodule "oadp/aws-plugin"]
	path = oadp/aws-plugin
	url = https://github.com/openshift/velero-plugin-for-aws.git
	branch = oadp-1.5
[submodule "oadp/gcp-plugin"]
	path = oadp/gcp-plugin
	url = https://github.com/openshift/velero-plugin-for-gcp.git
	branch = oadp-1.5
[submodule "oadp/kubevirt-plugin"]
	path = oadp/kubevirt-plugin
	url = https://github.com/migtools/kubevirt-velero-plugin.git
	branch = release-v0.8
[submodule "oadp/aws-legacy-plugin"]
	path = oadp/aws-legacy-plugin
	url = https://github.com/openshift/velero-plugin-for-legacy-aws.git
	branch = oadp-1.5
[submodule "oadp/kopia"]
	path = oadp/kopia
	url = https://github.com/migtools/kopia.git
	branch = oadp-1.5
[submodule "oadp/restic"]
	path = oadp/restic
	url = https://github.com/openshift/restic.git
	branch = oadp-1.5
[submodule "pf-status-relay/operator"]
	path = pf-status-relay/operator
	url = https://github.com/openshift/pf-status-relay-operator.git
	branch = release-4.20
[submodule "pf-status-relay/relay"]
	path = pf-status-relay/relay
	url = https://github.com/openshift/pf-status-relay.git
	branch = release-4.20
[submodule "network-observability/operator"]
	path = network-observability/operator
	url = https://github.com/netobserv/network-observability-operator.git
	branch = release-1.10
[submodule "network-observability/console-plugin"]
	path = network-observability/console-plugin
	url = https://github.com/netobserv/network-observability-console-plugin.git
	branch = release-1.10
[submodule "network-observability/flowlogs-pipeline"]
	path = network-observability/flowlogs-pipeline
	url = https://github.com/netobserv/flowlogs-pipeline.git
	branch = release-1.10
[submodule "network-observability/cli"]
	path = network-observability/cli
	url = https://github.com/netobserv/network-observability-cli.git
	branch = release-1.10
[submodule "network-observability/ebpf-agent"]
	path = network-observability/ebpf-agent
	url = https://github.com/netobserv/netobserv-ebpf-agent.git
	branch = release-1.10
[submodule "network-observability/console-plugin-compat"]
	path = network-observability/console-plugin-compat
	url = https://github.com/netobserv/network-observability-console-plugin.git
	branch = release-1.10-pf4
[submodule "nmstate/operator"]
	path = nmstate/operator
	url = https://github.com/openshift/kubernetes-nmstate.git
	branch = release-4.20
[submodule "nmstate/console-plugin"]
	path = nmstate/console-plugin
	url = https://github.com/openshift/nmstate-console-plugin.git
	branch = release-4.20
[submodule "web-terminal/operator"]
	path = web-terminal/operator
	url = https://github.com/redhat-developer/web-terminal-operator.git
	branch = wto-1.15
[submodule "web-terminal/tooling"]
	path = web-terminal/tooling
	url = https://github.com/redhat-developer/web-terminal-tooling.git
	branch = main
[submodule "web-terminal/exec"]
	path = web-terminal/exec
	url = https://github.com/redhat-developer/web-terminal-exec.git
	branch = main
