[submodule "lvms/operator"]
	path = lvms/operator
	url = https://github.com/openshift/lvm-operator.git
	branch = release-4.18
[submodule "local-storage/operator"]
	path = local-storage/operator
	url = https://github.com/openshift/local-storage-operator.git
	branch = release-4.18
[submodule "sr-iov/infiniband-cni"]
	path = sr-iov/infiniband-cni
	url = https://github.com/openshift/ib-sriov-cni.git
	branch = release-4.18
[submodule "sr-iov/rdma-cni"]
	path = sr-iov/rdma-cni
	url = https://github.com/openshift/rdma-cni.git
	branch = release-4.18
[submodule "sr-iov/admission-controller"]
	path = sr-iov/admission-controller
	url = https://github.com/openshift/sriov-dp-admission-controller.git
	branch = release-4.18
[submodule "sr-iov/device-plugin"]
	path = sr-iov/device-plugin
	url = https://github.com/openshift/sriov-network-device-plugin.git
	branch = release-4.18
[submodule "sr-iov/metrics-exporter"]
	path = sr-iov/metrics-exporter
	url = https://github.com/openshift/sriov-network-metrics-exporter.git
	branch = release-4.18
[submodule "sr-iov/operator"]
	path = sr-iov/operator
	url = https://github.com/openshift/sriov-network-operator.git
	branch = release-4.18
[submodule "sr-iov/cni"]
	path = sr-iov/cni
	url = https://github.com/openshift/sriov-cni.git
	branch = release-4.18
[submodule "cluster-logging/operator"]
	path = cluster-logging/operator
	url = https://github.com/openshift/cluster-logging-operator.git
	branch = release-6.2
[submodule "cluster-logging/opa-openshift"]
	path = cluster-logging/opa-openshift
	url = https://github.com/observatorium/opa-openshift.git
	branch = main
[submodule "cluster-logging/loki"]
	path = cluster-logging/loki
	url = https://github.com/openshift/loki.git
	branch = release-6.2
[submodule "cluster-logging/log-file-metric-exporter"]
	path = cluster-logging/log-file-metric-exporter
	url = https://github.com/ViaQ/log-file-metric-exporter.git
	branch = main
[submodule "cluster-logging/observatorium-api"]
	path = cluster-logging/observatorium-api
	url = https://github.com/observatorium/api.git
	branch = main
[submodule "cluster-logging/vector"]
	path = cluster-logging/vector
	url = https://github.com/ViaQ/vector.git
	branch = v0.37.1-rh
[submodule "ingress-node-firewall/operator"]
	path = ingress-node-firewall/operator
	url = https://github.com/openshift/ingress-node-firewall
	branch = release-4.18
[submodule "cluster-logging/eventrouter"]
	path = cluster-logging/eventrouter
	url = https://github.com/openshift/eventrouter
[submodule "metallb/operator"]
	path = metallb/operator
	url = https://github.com/openshift/metallb-operator/
	branch = release-4.18
[submodule "metallb/metallb"]
	path = metallb/metallb
	url = https://github.com/openshift/metallb/
	branch = release-4.18
[submodule "metallb/frr"]
	path = metallb/frr
	url = https://github.com/openshift/frr
	branch = release-4.18
[submodule "cert-manager/operator"]
	path = cert-manager/operator
	url = https://github.com/openshift/cert-manager-operator
	branch = cert-manager-1.15
[submodule "cert-manager/cert-manager"]
	path = cert-manager/cert-manager
	url = https://github.com/openshift/jetstack-cert-manager
	branch = release-1.15
[submodule "cert-manager/istio-csr"]
	path = cert-manager/istio-csr
	url = https://github.com/openshift/cert-manager-istio-csr
	branch = release-1.15
